<% unless display_task_category.name == "Uncategorized" %>

<div id="task_category_<%= display_task_category.id %>_container" class="task-category-container">
  <div id="display_task_category_<%= display_task_category.id %>" class="row flex-nowrap highlight-on-hover display-task-category">
    <div>
      <%= link_to image_tag('edit-pencil-icon.svg', title: "Click to Edit", class: "task-category-edit-icon"),
        edit_task_category_path(display_task_category), remote: true %>
    </div>

    <div class="display-task-category-name">
      <%= display_task_category.name %>
    </div>
  </div>
</div>

<% end %>