<h1>Password Reset Confirmation</h1>

<%= render 'layouts/flash_alerts_static' %>

<div class="container">
  <p>We just sent a special one-time login link to your email address. Please check your mail and click on the link, which will take you to a page where you can set your new password. For security reasons, the login link will expire after two hours.</p>

  <p><strong>Note:</strong> If you don't receive our email after a few minutes, check your Spam/Junk mail folder.</p>
</div>
