image: "ruby:4.0"

cache:
 key: ${CI_PROJECT_PATH_SLUG}
 paths:
   - vendor/ruby

stages:
  - test

before_script:
  - apt-get update -qq && apt-get install -y -qq sqlite3 libsqlite3-dev
  - ruby -v
  - gem install bundler --no-document
  - bundle install --jobs $(nproc) "${FLAGS[@]}"
  - bundle exec rails dartsass:build
  - bundle exec rails db:schema:load RAILS_ENV=test

CI:
  stage: test
  script:
    - bin/ci
