image: "ruby:4.0"

# Cache gems between builds. Use the project path slug as the key to maintain
# one cache per project.
cache:
  key: ${CI_PROJECT_PATH_SLUG}
  paths:
    - vendor/ruby

stages:
  - test
  - lint

before_script:
  - apt-get update -qq && apt-get install -y -qq sqlite3 libsqlite3-dev
  - ruby -v
  - which ruby
  - gem install bundler --no-document
  - bundle install --jobs $(nproc) "${FLAGS[@]}" --path vendor --without development production
  - bundle exec rails db:schema:load RAILS_ENV=test

Integration Tests:
  stage: test
  script:
    - bundle exec rails test

Rubocop Check:
  stage: lint
  allow_failure: true
  script:
    - bundle exec rubocop

Rails Best Practices Tests:
  stage: lint
  script:
    - bundle exec rails_best_practices

Bundler Audit:
  stage: lint
  allow_failure: true
  script:
    - bundle exec bundle-audit check --update

Brakeman Tests:
  stage: lint
  allow_failure: true
  script:
    - bundle exec brakeman --format html -o brakeman/index.html
  artifacts:
    name: brakeman_report
    when: always
    expire_in: 1 week
    paths:
      - brakeman/
