      <div class="modal-footer justify-content-between">
        <% if @new_task_reminder %>
          <p id="new-task-reminder" class="fw-bold mx-auto">
            <%= @new_task_reminder %>
          </p>
        <% end %>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>