<h1>Signup Confirmation</h1>

Thanks for creating an account! We have just sent you an email with a link to activate your account. Please click this link to verify your email address, and welcome to ProgressPuppy!