// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.remember-me-checkbox {
  display: inline;
  width: 5%;
  margin-bottom: 15px;
  margin-right: 0.2em;
}
